body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    border: black 2px solid;
    border-radius: 5px;
    background-color: lightblue;
    padding: 4px;
}
.ch7{
    border: 5px skyblue solid;
    border-radius: 10px;
}

.ch8{
    border: black 2px solid;
    background-color: darkblue;
    padding: 4px;
    width: 100px;
    height: 100px;
}

td{
    border: 2px black solid;
    width: 30%;
    height: 50px;
    text-align: center;
    padding: 5px;
}

table{
    border: 2px skyblue solid;
    width: 60%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    padding-bottom: 40px;
}

input{
    border-radius: 10px;
    border: 1px black solid;
    padding: 10px;
    width: 80%;
}

#add-btn{
    border-radius: 10px;
    padding: 6px;
    width: 30%;
}

#add-btn:hover{
    border: 4px green solid;
    background-color: green;
}

.btn{
    padding: 5px;
    background-color: red;
    border-radius: 7px;
}

h1{
    background-color: rgba(0, 128, 0, 0.4);
    padding: 10px;
}